.root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  row-gap: 20px;
}

.btn {
  padding: 20px 30px;
  background-color: black;
  color: white;
  box-shadow: whitesmoke;
  cursor: pointer;
}
.button_wrapper {
  display: flex;
  column-gap: 10px;
}
.output {
  padding: 10px 10px;
}

.copyBtn {
  padding: 20px 30px;
  color: black;
  box-shadow: whitesmoke;
  cursor: pointer;
}
