.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.main_box input {
  padding: 10px 10px;
}
.main_box .copy_btn {
  background: #000;
  color: white;
}
button {
  margin-top: 20px;
  padding: 10px 10px;
  cursor: pointer;
}
